{% extends 'app_store/base.html' %}
{% load static %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Оплата
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оплата</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <form class="form" method="post">
                    {% csrf_token %}
                    {% if object.payment_type == '2' %}
                        <div class="form-group">
                            <button id="generate_btn" class="btn btn_success btn_disabled" type="button">Сгенерировать
                            </button>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label class="form-label" for="{{ form.card_number.id_for_card_number }}">
                            {{ form.card_number.label }}
                        </label>
                        {{ form.card_number }}
                        {% for error in form.card_number.errors %}
                            <div class="form-error">{{ error|escape }}</div>
                        {% endfor %}
                    </div>
                    <div class="Order-footer">
                        <button class="btn btn_primary btn_lg" type="submit">
                            Оплатить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}