{% extends "app_store/base.html" %}
{% load static %}


{% block content %}
    <div class="wrapper">
        <div class="header">
            <h3>Восстановление пароля.</h3>
        </div>
    {% if validlink %}
        <p>Введите новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка на сброс пароля оказалась недействительной, возможно, потому что она
            уже была использована. Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}
    </div>
{% endblock %}